@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: "Open Sans", serif;
    background: #121212;
    color: #fff;
}

.wrapper {
    max-width: 640px;
    margin: 0 auto;
    padding: 0 12px;
}

header {
    position: fixed;
    width: 100%;
    padding: 16px 0;
}

.logo {
    width: 32px;
    height: 32px;
    border: 2px solid #fff;
}