---
import '../styles/index.css'
import Layout from '../layouts/Layout.astro'
---

<Layout>
	<div class="wrapper">
		<main class="main">
			<button class="start-button">Start</button>
		</main>
	</div>
</Layout>
