---
import Layout from '../layouts/Layout.astro'
---

<Layout style="/styles/index.css">
	<div class="wrapper">
		<main>
			<div id="main-screen">
				<h1 class="title">Box Breathing</h1>
				<button id="start-button">Start</button>
				<a href="/learn-more">Learn more</a>
			</div>
			<div id="exercise-screen">
				<div class="exercise-container">
					<div class="box-animated">
						<div class="side bottom animated"></div>
						<div class="side right animated"></div>
						<div class="side top animated"></div>
						<div class="side left animated"></div>
					</div>
				
					<div class="placeholder">
						<p class="hint top animated">Exhale</p>
						<p class="hint left animated">Hold</p>
						<div class="box-path animated"></div>
						<p class="hint right animated">Hold</p>
						<p class="hint bottom animated">Inhale</p>
					</div>
				</div>
				<button id="finish-button">Finish</button>
			</div>
		</main>
		<footer id="footer">
			<p>
				This project is
				<a href="https://github.com/15traven/bbbreathing">open source</a>
			</p>
		</footer>
	</div>
</Layout>

<script is:inline>
	const mainSreen = document.getElementById('main-screen')
	const exerciseScreen = document.getElementById('exercise-screen')
	const footer = document.getElementById('footer')

	const startExercise = () => {
		mainSreen.style.display = 'none'
		exerciseScreen.style.display = 'flex'
		footer.style.display = 'none'
	}

	const finishExercise = () => {
		const userConfirmed = window.confirm('Are you sure you want to perform this action?')
      
		if (userConfirmed) {
			mainSreen.style.display = 'flex'
			exerciseScreen.style.display = 'none'
			footer.style.display = 'flex'
		}
	}

	document.getElementById('start-button')?.addEventListener('click', startExercise)
	document.getElementById('finish-button')?.addEventListener('click', finishExercise)
</script>