---
import Layout from "../layouts/Layout.astro";
---

<Layout style="/styles/learn-more.css">
    <div class="wrapper">
        <main>
            <article>
                <p>
                    Box breathing, also known as square breathing, 
                    is a deep breathing technique involving slow, deep breaths. 
                    It’s also called four-square breathing.
                    <br />
                    <br />
                    Anyone can benefit from this breathing technique, 
                    but it may be especially helpful for those with lung 
                    conditions that make breathing harder.
                    <br />
                    <br />
                    Box breathing can help lower blood pressure and aid in pain 
                    or COPD management. It’s also a powerful stress reliever and 
                    may help manage anxiety.
                    <br />
                    <br />
                    Box breathing is generally safe to practice, 
                    but speak with your doctor beforehand if you have a heart or 
                    severe medical condition or are pregnant.
                    
                </p>
                <h3>Advice</h3>
                <p>
                    Make sure you’re seated upright in a comfortable chair with 
                    your feet flat on the floor. Try to be in a stress-free, quiet 
                    environment where you can focus on your breathing.
                    <br />
                    <br />
                    Keep your hands relaxed in your lap, palms facing up, 
                    and focus on your posture. Sit up straight, which will help 
                    you take deep breaths.
                </p>
            </article>
            <a href="/">Go back</a>
        </main>
    </div>
</Layout>