---
import ThemeToggle from "./ThemeToggle.astro"
---

<header>
    <div class="wrapper">
        <div class="header-content">
            <a href="/"><div class="logo"></div></a>
            <ThemeToggle />
        </div>
    </div>
</header>

<!-- styles located in /src/styles/base.css -->