@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --background: #fffafa;
    --text-color: #000;
    --secondary-text-color: #888;
    --primary-color: #000;
    --path-color: #dbdbdb;
}

.dark {
    --background: #121212;
    --text-color: #fff;
    --primary-color: #fff;
    --path-color: #303030;

    .sun-icon { 
        fill: transparent; 
    }

    .moon-icon { 
        fill: var(--primary-color); 
    }
}

body {
    font-family: "Open Sans", serif;
    background: var(--background);
    color: var(--text-color);
    transition: background-color .8s;
    user-select: none;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

button {
    cursor: pointer;
}

.wrapper {
    max-width: 640px;
    margin: 0 auto;
    padding: 0 12px;
}

header {
    position: fixed;
    width: 100%;
    padding: 16px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 32px;
    height: 32px;
    border: 2px solid var(--primary-color);
}

#themeToggle {
    border: 0;
    background: none;
}

.sun-icon { 
    fill: var(--primary-color); 
}

.moon-icon { 
    fill: transparent; 
}