@import url(./animations.css);

#main-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-screen a {
    transform: translateY(50%);
}

.title {
    font-size: 38px;
    font-weight: lighter;
    transform: translateY(-50%);
}

#start-button {
    background: none;
    border: 1px solid var(--primary-color);
    color: var(--text-color);
    width: 250px;
    height: 42px;
    border-radius: 25px;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding: 12px;
    margin-top: -10%;
}

footer a {
    font-weight: bold;
}

#exercise-screen {
    display: none;
    flex-direction: column;
}

#finish-button {
    height: 36px;
    transform: translateY(700%);
    background: none;
    border: 1px solid var(--primary-color);
    border-radius: 25px;
    color: var(--text-color);
    opacity: 50%;
    transition: all 300ms;
}

#finish-button:hover {
    opacity: 1;
}

.exercise-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.placeholder {
    position: relative;
    width: 100px;
    height: 100px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--text-color);
    animation: enter 2s forwards;
    z-index: -1;
}

.placeholder .box-path {
    width: 100px;
    height: 100px;
    position: absolute;
    border: 4px solid var(--path-color);
    animation: init 4s forwards;
}

.placeholder .hint {
    position: absolute;
    text-wrap: nowrap;
    opacity: 50%;
}

.hint.top {
    bottom: 100%;
    width: 100px;
    animation: init 4s forwards, hint-top 16s 4s infinite;
}

.hint.bottom {
    top: 100%;
    width: 100px;
    animation: init 4s forwards, hint-bottom 16s 4s infinite;
}

.hint.left {
    right: 100%;
    writing-mode:sideways-lr;
    animation: init 4s forwards, hint-left 16s 4s infinite;
}

.hint.right {
    left: 100%;
    writing-mode:sideways-rl;
    animation: init 4s forwards, hint-right 16s 4s infinite;
}

.box-animated {
    width: 100px;
    height: 100px;
    position: relative;
    transform: translateX(50%);
}

.box-animated .side {
    position: absolute;
    background-color: var(--primary-color);
}

.box-animated .bottom {
    width: 0;
    height: 4px;
    bottom: 0;
    left: 0;
    animation: init 4s forwards, draw-bottom 16s 4s infinite;
}

.box-animated .right {
    width: 4px;
    height: 0;
    right: 0;
    bottom: 0;
    animation: init 4s forwards, draw-right 16s 4s infinite;
}

.box-animated .top {
    width: 0;
    height: 4px;
    top: 0;
    right: 0;
    animation: init 4s forwards, draw-top 16s 4s infinite;
}

.box-animated .left {
    width: 4px;
    height: 0;
    left: 0;
    top: 0;
    animation: init 4s forwards, draw-left 16s 4s infinite;
}